@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

/* Prism styles */
@import './prism-holi-theme.css';

/* Algolia styles */
@import './algolia.css';

/* Components */
@import './components.css';

html,
body {
  height: 100%;
}

#_next {
  height: 100%;
  overflow: auto;
}
