@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

/* Prism styles */
@import './prism-holi-theme.css';

/* Algolia styles */
@import '@algolia/autocomplete-theme-classic';

html,
body {
  height: 100%;
}

#_next {
  height: 100%;
  overflow: auto;
}

.aa-Panel {
  @apply z-50;
}

.aa-List {
  @apply divide-y divide-gray-400;
}

.aa-Item {
  @apply p-2 rounded-none;
}

.aa-DetachedSearchButton {
  @apply w-12 h-12 px-0.5 border-0 rounded-full bg-gray-200 text-gray-900;
}

.aa-DetachedCancelButton {
  @apply text-gray-900;
}

.aa-DetachedSearchButtonPlaceholder {
  @apply hidden sm:block;
}

.aa-DetachedSearchButtonIcon {
  @apply w-full;
}

.aa-Label svg,
.aa-DetachedSearchButtonIcon svg {
  @apply text-gray-900;
}

.aa-Form:focus-within {
  @apply border-gray-900 shadow-none;
}
